* {
    font-family: Arial, Helvetica, sans-serif;
}
h1, h3 {
    font-family: Geneva, Tahoma, sans-serif;
    text-shadow: 10px 5px 5px black;
}

body {
    background-color: black;
    color: white;
}

article {
    background-image: linear-gradient(blue, green);
    border-radius: 0.75em;
    padding: 20px;
    margin: 10px;
}

header {
    background-image: url("https://images.unsplash.com/photo-1470125634816-ede3f51bbb42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3Vuc2V0JTIwcGFub3JhbWF8ZW58MHx8MHx8&w=1000&q=80");
    background-size: cover;
    border-radius: 0.75em;
    padding: 20px;
    margin: 15px;
    box-shadow: 10px 5px 5px white;
    
}

a {
    color: lightseagreen;
}

a:hover {
    color: mistyrose;
}

img {
    display: block;
    border: lightseagreen;
    border-radius: 0.75em;
    box-shadow: 10px 5px 5px black;
    margin: 10px;
}

.subheading {
    border-bottom: underline;
}